<template>
  <div >
      <!-- <md-button>Hello</md-button> -->
      hello
      <router-view></router-view>
  </div>
</template>
<!-- <style src="vue-material/dist/vue-material.css"></style> -->
<script>
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  created(){
    console.log("hwllo")
  }
}
</script>

<style lang="scss">

</style>
